.btn {
  width: 150px;
  height: 50px;
  border: 1px solid #333;
  font-family: "Cinzel", serif;
  font-size: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  @include flex();
  position: relative;
  z-index: 0;
  transition: 1s;

  &::before,
  &::after {
    position: absolute;
    background: #eee;
    z-index: -1;
    transition: 1s;
    content: "";
  }

  &::before {
    height: 50px;
    width: 130px;
  }

  &::after {
    width: 150px;
    height: 30px;
  }

  &:hover {
    background: #fff;

    &::before {
      width: 0px;
      background: #fff;
    }
    &::after {
      height: 0px;
      background: #fff;
    }
  }
}
